<header style="background-color: #000; color: #fff; padding: 10px 20px; display: flex; align-items: center; justify-content: space-between;">
  <!-- 左側: アプリ名 -->
  <div>
    <h1 style="margin: 0; font-size: 2.5rem;">
      <%= link_to "CrossRoad", root_path, style: "color: white; text-decoration: none;" %>
    </h1>
  </div>

  <!-- 右側: サインアップとログイン -->
  <nav style="font-size: 1.2rem;">
    <% if user_signed_in? %>
    <%= link_to "プロフィール編集", edit_user_registration_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
    <%= link_to "ログアウト", get_logout_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>

    <% else %>
      <%= link_to "ログイン", new_user_session_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
      <%= link_to "サインアップ", new_user_registration_path, style: "color: white; text-decoration: none;" %>
    <% end %>
  </nav>
</header>
