<!DOCTYPE html>
<html>
  <head>
    <title>CrossRoad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/header" %> <!-- ヘッダーを読み込み -->

    <div class="container">
      <%= yield %> <!-- 各ページのコンテンツがここに挿入される -->
    </div>
  </body>
</html>
